<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<th:block th:replace="fragments/configure::configure"></th:block>
<link href="./output.css" rel="stylesheet">
<style>
</style>

<script>
	
	
	function pwdFindUser() {
	    $.ajax({
	        url: '/findpassword',
	        method: 'post', 
	        data: {
	            user_id: $("#user_id").val(),
	            user_email: $("#user_email").val()
	        },
	        success: function(response) {
	            if (response === "true") { 
	                alert("임시 비밀번호가 해당 ID의 이메일로 전송되었습니다.");
	                setTimeout(function() {
	                    window.location.href = "/";
	                }, 1000);
	            } else {
	                alert("아이디나 이메일을 확인하세요");
	            }
	        }
	    });
	}

</script>
<title>Document</title>
</head>
<body>
	<th:block th:replace="fragments/header::headerFragment"></th:block>
	<div class="h-screen flex items-center justify-center">
		<div
			class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
			<form class="space-y-6" action="#">
				<h5 class="text-xl font-medium text-gray-900 dark:text-white">비밀번호
					찾기</h5>
				<div>
					<label for="id"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID</label>
					<input type="text" name="user_id" id="user_id"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
						placeholder="ID를 입력하세요" required />
				</div>
				<div>
					<label for="email"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
					<input type="email" name="user_email" id="user_email"
						placeholder="이메일을 입력하세요"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
						required />
				</div>

				<button type="button" onclick="pwdFindUser()"
					class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">확인</button>

			</form>
		</div>
	</div>
	<!-- 푸터 -->
	<th:block th:replace="~{fragments/footer::footerFragment}"></th:block>


</body>
</html>