<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

		<!-- 결제 모달 창 -->
		<th:block th:fragment="payModal">
		<div id="pay-modal"  data-modal-backdrop="static"  tabindex="-1" aria-hidden="true"
			class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
			<div class="relative p-4 w-full max-w-md max-h-full ">
				<!-- Modal content -->
				<div class="relative bg-white rounded-lg shadow dark:bg-gray-700 border dark:border-gray-500">
					<!-- Modal header -->
					<div
						class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
						<h3 class="text-lg font-semibold text-gray-900 dark:text-white">프로젝트 결제</h3>
						<button type="button"
							class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
							data-modal-toggle="pay-modal" onclick="paymodal.close();">
							<svg class="w-3 h-3" aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg" fill="none"
								viewBox="0 0 14 14">
                        			<path stroke="currentColor"
											stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
											d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                   			 </svg>
							<span class="sr-only">Close modal</span>
						</button>
					</div>
					<!-- Modal body -->
					<form id="pay_modal_form" class="p-4 md:p-5">
						<div class="grid gap-4 mb-4 grid-cols-6">
							<div class="col-span-6">
								<input type="hidden" name="pay_muid" value="pay_muid" th:value="pay_muid">
								<label for="pay_pr_title"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">결제할 프로젝트명</label>
								<input type="text" name="pay_pr_title" id="pay_pr_title"
									class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									value="신청 프로젝트" readonly>
							</div>
							<div class="col-span-6">
								<label for="pay_amount" 
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">결제 금액</label>
								<input type="text" name="pay_amount" id="pay_amount"
									class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									value=""  readonly>
							</div>
							<div class="col-span-6">
								<label for="pay_method"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">결제 방식</label>
								<select id="pay_method" name="pay_method" required="required"
									class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
									<option value="card" selected>카드결제</option>
									<option value="naverpay">네이버페이</option>
									<option value="kakaopay">카카오페이</option>
								</select>
							</div>
							<div class="sm:col-span-3 col-span-6">
								<label for="pay_buyer_name"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">구매자 이름</label>
								<input type="text" name="pay_buyer_name" id="pay_buyer_name" th:value="${userName}"
									class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="구매자 이름" required="required">
							</div>
							<div class="sm:col-span-3 col-span-6">
								<label for="pay_tel"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
										구매자 번호
										<span id="pay_phone_warn" class="ml-5 font-bold text-red-500"></span>
								</label>
								<input type="text" name="pay_tel" id="pay_tel"
									class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="010-0000-0000" required="required">
							</div>
							<div class="col-span-6">
								<label for="pay_email"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">구매자 이메일 <span id="pay_email_warn" class="sm:ml-1 ml-5 font-bold text-red-500"></span></label>
								<input type="email" name="pay_email" id="pay_email"
									class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="이메일을 입력해주세요" required="required">
							</div>
						</div>
						<button onClick="requestPay(); return false;" type="submit"
							class="w-full items-center justify-center text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
							결제
						</button>
					</form>
				</div>
			</div>
		</div>
		</th:block>
</html>