<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Introductions</title>
<th:block th:replace="fragments/configure::configure"></th:block>
<script
   src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<style>
.skills-list {
   list-style: none;
   padding: 0;
   display: flex;
   flex-wrap: wrap; /* 추가된 항목이 다음 줄로 넘어가도록 */
   gap: 10px; /* 항목 사이의 간격 */
   justify-content: flex-start; /* 왼쪽 정렬 */
}

.skills-list li {
   flex: 0 0 calc(20% - 10px); /* (100% / 5) - gap */
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.skill-icon {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 10px;
}

.skill-icon img {
   width: 100%;
   height: 38px;
}

.delete-skill-button {
   margin-left: 10px;
}

.separator {
   border-top: 2px solid #e5e7eb; /* 선 색상 및 두께 설정 */
   margin-top: 10px; /* 선과 결제 버튼 사이의 간격 조정 */
   margin-bottom: 30px;
   width :100px;
}
</style>
</head>
<body>
   <!-- 네브바 -->
   <th:block th:replace="fragments/header::headerFragment"></th:block>

   <!-- content -->
   <section class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">

	<h5 class="text-3xl font-bold text-gray-900 mb-10 ml-5">자기소개</h5>

      <!-- tab -->



      <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
         <ul class="flex flex-wrap -mb-px text-sm font-medium text-center"
            id="default-tab" data-tabs-toggle="#default-tab-content"
            role="tablist">
            <li class="me-2" role="presentation">
               <button class="inline-block p-4 border-b-2 rounded-t-lg"
                  id="profile-tab" data-tabs-target="#profile" type="button"
                  role="tab" aria-controls="profile" aria-selected="false"
                  onclick="goToProfile()">자기소개</button>
            </li>
            <li class="me-2" role="presentation">
               <button
                  class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                  id="dashboard-tab" data-tabs-target="#dashboard" type="button"
                  role="tab" aria-controls="dashboard" aria-selected="false"
                  onclick="goToScore()">평가후기</button>
            </li>
         </ul>
      </div>

      <!-- Content -->
      <!-- 자기소개 관리 -->

   <div class="bg-white p-6 rounded-lg shadow-lg">
      <!-- 자기소개 -->
      <div class="mb-6">
         <h2 class="flex items-center text-lg font-semibold mb-2">
  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
  <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
</svg>

 자기소개
</h2>
            <div class="separator"></div>
         <div th:utext="${datas[0].user_intro}"
            class="text-gray-700 dark:text-gray-300"
            style="white-space: pre-wrap;"></div>
      </div>





      <!-- GitHub 주소 -->
      <div class="mb-6">
<h2 class="flex items-center text-lg font-semibold mb-2">
  <svg class="w-6 h-6 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
    <path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
  </svg>
  GitHub 주소
</h2>

            <div class="separator"></div>
         <p th:text="${datas[0].github}"
            class="text-gray-700 dark:text-gray-300"></p>
      </div>
      
      
      

      <!-- 기술 스택 -->
      <div>
         <h2 class="flex items-center text-lg font-semibold mb-2">
  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z"/>
</svg>


 기술스택
</h2>
            <div class="separator"></div>
            
         <ul class="skills-list">
            <li th:id="'skill_' + ${skill.skill_id}" th:each="skill : ${skills}">
               
               <div class="skill-icon">
                  <img  th:src="@{${skill.skill_img}}" alt="Skill Image" />
               </div> <span th:text="${skill.skill_name}"
               class="text-gray-700 "></span>
            </li>
         </ul>
      </div>
      <!-- 유저 추가 버튼 -->
      
   <button onclick="location.href='/SelfIntroEditForm'"
         class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200  hover:bg-blue-800">
         수정</button>
</div>

      <script>
         function goToProfile() {
            // 프로필 페이지로 이동하는 코드 작성
            window.location.href = "/SelfIntroduction"; // 예시로 "/selfIntroduction"로 이동하도록 작성
         }

         function goToScore() {
            // 대시보드 페이지로 이동하는 코드 작성
            window.location.href = "/MyScore"; // 예시로 "/MyScore"로 이동하도록 작성
         }
      </script>

   </section>


   <!-- 푸터 -->
   <th:block th:replace="fragments/footer::footerFragment"></th:block>
</body>
</html>
